/* =============
    Section3
============= */
#section3 {
    margin-top: 5%;
    margin-bottom: 5%;
    
    img {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #section3-container {
        display: grid;
        grid-template-columns: 10px auto 10px;
        grid-template-areas: ". content .";
    }
    
    #dividertop {
        grid-area: content;
        hr {
            border-color: 2px solid $black;
        }
    }
    
    #section3-content {
        grid-area: content;
        color: $orange;
        text-align: center;
    }

    #dividerbot {
        grid-area: content;
        hr {
            border: 2px solid $black;
        }
    }
}