/* =============
    Section4
============= */
#section4 {
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    
    @include xl {
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section4 .";
    }

    #gallery {
        display: grid;
        grid-gap: 20px;
        grid-template-rows: repeat(2, 500px);

        @include sm {
            grid-template-areas: "oranges" "lemons" "limes";
        }
        
        @include md {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 340px);
            grid-template-areas: "oranges oranges" "lemons limes";
        }

        @include lg {
            grid-template-areas: "oranges lemons" "oranges limes";
        }

        @include xl {
            grid-area: section4;
        }

        li {
            background-position: center;
            background-size: cover;
        }

        #oranges {
            background-image: url('../img/oranges.jpg');

            @include md {
                grid-area: oranges;
                background-position: center top;
            }
        }

        #lemons {
            background-image: url('../img/lemons.jpg');
    
            @include md {
                grid-area: lemons;
            }
        }

        #lime {
            background-image: url('../img/lime.jpg');

            @include md {
                grid-area: limes;
            }
        }
    }
}

