/* =============
    Section4
============= */
#section4 {
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". section4 .";

    >div {
        grid-area: section4;
    }
    ul {
        padding: 0px;
        li {
            list-style: none;
        }
    }
}