/* =============
    section2
============= */
#section2 {
    img {
        width: 100%;
    }
    
    #section2-container {
        display: grid;
        grid-template-columns: 10px auto 10px;
        grid-template-areas: ". dividertop ." ". dividerbot ." ". content .";
    }

    #dividertop {
        grid-area: dividertop;
        border-color: $yellow;
        height: 5px;
    }

    #section2-content {
        grid-area: content;
        text-align: center;
    }

    #dividerbot {
        grid-area: dividerbot;
        border-color: $yellow;
        height: 5px
    }
}