/* =============
    section5
============= */
#section5 {
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". image ." ". text .";

    .orangefruits {
        grid-area: image;
    }
    #text {
        grid-area: text;
    }
}