/* =============
    Section4
============= */
#section4 {
    img {
        width: 100%;
    }
    
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". section4 .";

    #gallery {
        grid-area: section4;
        gap: 20px;
        grid-row-gap: 10px;
        grid-column-gap: 10px;

        @include md {
            display: grid;
            grid-template-columns: 60% auto;
            grid-template-areas: "oranges oranges" "lemons limes";
        }

        @include lg {
            display: grid;
            grid-template-columns: 60% auto;
            grid-template-areas: "oranges lemons" "oranges limes";
        }


        #oranges {
            @include md {
                grid-area: oranges;
            }

            @include lg {
                grid-area: oranges;
            }
        }

        #lemons {
            @include md {
                grid-area: lemons;
            }

            @include lg {
                grid-area: lemons;
            }
        }

        #lime {
            @include md {
                grid-area: limes;
            }

            @include lg {
                grid-area: limes;
            }
        }
    }
    
}

