/* =============
    section1
============= */
#section1 {
    >div {
        display: grid;
        background-image: url('../img/allcitrus.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 381px;

        @include sm {
            height: 381px;
            background-position: center;
        }
        
        @include md {
            height: 512px;
        }

        @include lg {
            height: 685px;
        }

        h1 {
            color: $white;
            padding-left: 20%;
            padding-top: 10%;
        }
    }

}