/* =============
    section1
============= */
#section1 {
    @include xl {
        grid-template-columns: auto 1200px auto;
    }
    
    img {
        width: 50%;
    }
    
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". section1 .";

    h1 {
        color: $orange;
        grid-area: section1;
        text-align: center;
    }
}