/* =============
    section5
============= */
#section5 {
    img {
        width: 100%;
    }
    
    @include sm {
        display: grid;
        grid-template-columns: auto 40%;
    }

    @include lg {
        display: grid;
        grid-template-columns: auto 40%;
    }

    @include xl {
        display: grid;
        grid-template-columns: auto 40%;
        padding-right: 40%;
    }

    // display: grid;
    // grid-template-columns: 10px auto 10px;
    // grid-template-areas: ". content .";

        // p {
        //     grid-area: content;
        //     text-align: center;
        // }
}