/* =============
    section5
============= */
#section5 {
    img {
        width: 100%;
    }
    
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". content .";

    #section5-content {
        grid-area: content;
    }
}