/* =============
    section2
============= */
#section2 {
    @include xl {
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: " .section2 .";
    }
    
    @include lg {
        display: grid;
        grid-template-columns: 40% auto;
    }

    @include xl {
        grid-area: section2;
    }

    img {
        width: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    #section2-container {
        display: grid;
        grid-template-columns: 10px auto 10px;
        grid-template-areas: ". content .";

        @include md {
            grid-template-columns: 10% auto 10%;
        }

        @include lg {
            margin-top: 35%;
            margin-bottom: 35%;
        }

        #dividertop {
            grid-area: content;
            hr {
                border: 2px solid $yellow;
            }
        }
    
        #section2-content {
            grid-area: content;
            text-align: center;
        }
    
        #dividerbot {
            grid-area: content;
            hr {
                border: 2px solid $yellow;
            }
        }
    }

}