/* =============
    Typography
============= */

#section1,#section2,#section3,#section4,#section5,footer {
    font-family: 'Montserrat', sans-serif;
}

#section1 {
    h1 {
        font-family: 'Lobster', sans-serif;
        font-size: rem-calc(44);
    }
}

#section2 {
    h1 {
        font-family: 'Montserrat', sans-serif;
    }
}