/* =============
    Footer
============= */
#footer {
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". footer .";

    background-color: $orange;

    #footer-container {
        grid-area: footer;

        h6 {
            color: $white;
            text-align: right;
        }
    }
}